[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
python-docs-theme = "*"

[packages]
matplotlib = "*"
numpy = "*"
scipy = "*"
wirelesscomms = {editable = true,path = "."}

[requires]
python_version = "3.8"
